{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/print.css'%}" media="print">
    <title>Review</title>
</head>
<body style="background-color:rgba(27, 24, 24, 0.788)">  
    
    <div class="container bg_light">
        <div class="col-md-12 text-centre">
          <button onclick="window.print();"class="btn btn-primary" id="prt-btn">Print</button>
        </div>
      </div>
    
    <img  style="margin-top: 0.3rem;" class="rounded mx-auto d-block" src="{% static 'images/1.jpg' %}" width: 100%; height=auto; >
    <img  style="margin-top: 1rem;" class="rounded mx-auto d-block" src="{% static 'images/2.jpg' %}" width: 100%; height=auto;>
    <img  style="margin-top: 1rem;" class="rounded mx-auto d-block" src="{% static 'images/3.jpg' %}" width: 100%; height=auto;>
    
</body>
</html>